<div id="changePresentation">
    <h3>Präsentationsinfos verändern</h3>

    <p>Titel:</p>
    <textarea id="newTitle"></textarea>

    <p>Beschreibung:</p>
    <textarea name="description" id="newDescription" rows="4" cols="40">
    </textarea>
    <br/>

    <div class="selectElement">
        <p>Logo einfügen</p>
        <input type="file" id="logoUploadForm" name="logoUploadForm"/>
        <div id="thumbnail"></div>
    </div>


    <button id="changePesentationButton">Präsentation ändern</button>
    <button onclick="hidePresentationChangeInfo()">abbrechen</button>

</div>