<div style="clear: both;"></div>
<div id="presentationNavigation" class="navigation">
    <ul>
        <li>
            <a onclick="changeSlide('first')">Erste Folie (&uarr;)</a>
        </li>

        <li>
            <a onclick="changeSlide('previous')">Vorherige Folie (&larr;)</a>
        </li>

        <li>
            <a onclick="changeSlide('next')">Nächste Folie (&rarr;)</a>
        </li>

        <li>
            <a onclick="changeSlide('last')">Letzte Folie (&darr;)</a>
        </li>

        <li>
            <a onclick="endPresentation()">Ende (&crarr;)</a>
        </li>
    </ul>

</div>

<div style="clear: both;"></div>